@page "/AreaCreate"
@using Asset_System.Data
@using LoginAndSession.Models
@inject AreaService areaService
@inject NavigationManager NavigationManager

<h3>AreaCreate</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-3 mb-3"
                <div class="card">
                    <h1 style="text-align:center">Area</h1>
                </div>

            <EditForm Enhance Model="obj" OnValidSubmit="CreateNewArea"></EditForm>

                <div style="margin-left:20px" class="col-md-6">
                   <label for="AreaName" class="control-label">Area Name</label>
                   <input form="AreaName" class="form-control" @bind="obj.AreaName" />
                </div>

                <div style="margin-left:20px" class="col-md-6">
                    <label for="AreaDescription" class="control-label">Area Description</label>
                    <input form="AreaDescription" class="form-control" @bind="obj.AreaDescription" />
                </div>

                                                <br />

                <div class="form-group" align="center">
                     <input type="button" class="btn btn-primary" @onclick="@CreateNewArea" value="Save" />
                     <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                </div>
            <br/>
           </div>
    </div>
</div>


@code {

    private LoginAndSession.Models.Area obj = new LoginAndSession.Models.Area();

    protected async void CreateNewArea()
    {

        // Call the service to save the safety data

        await areaService.AddNewArea(obj);
        NavigationManager.NavigateTo("Area");

    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Area");
    }
}